<div class="receiver">
  <div class="message-avatar">
    <%= image_tag (message.user.avatar), size: "50x50", class: "messages-avatar" %>
  </div>
  <i>
    <span><%= message.user.username %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p> <strong><%= message.content %></strong> </p>
</div>
