.primary-button {
  color: white;
  background-color: $primary-color;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  height: 35px;
  font-weight: 600;
  text-decoration: none;
  border-color: $primary-color;
  border-style: none;

  &:hover {
    background-color: $primary-color;
    opacity: 0.54;
    color: white;
    text-decoration: none;
  }
}

.primary-button-large {
  color: white;
  background-color: $primary-color;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  height: 41px;
  font-weight: 500;
  text-decoration: none;
  border-color: $primary-color;
  border-style: none;

  &:hover {
    background-color: $primary-color;
    opacity: 0.54;
    color: white;
    text-decoration: none;
  }
}

.secondary-button {
  text-decoration: none;
  color: $secondary-black;
  background-color: white;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.11);
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  height: 35px;
  font-weight: 600;
  border-style: none;

  &:hover {
    box-shadow: 0 0.2rem 0.5rem rgba(103,110,144,.3), 0 0 0 0.1rem rgba(103,110,144,.04);
    color: $secondary-black;
    text-decoration: none;
  }
}


.secondary-button-unactive {
  text-decoration: none;
  color: $secondary-black;
  background-color: transparent;
  border: 1px solid $secondary-black;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  height: 35px;
  font-weight: 600;

  &:hover {
    background-color: $secondary-black;
    color: white;
    text-decoration: none;
  }
}

.secondary-status-button {
  text-decoration: none;
  color: $secondary-black;
  background-color: transparent;
  border: 1px solid $secondary-black;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  height: 35px;
  font-weight: 500;
}

.other-button-unactive {
  text-decoration: none;
  color: $secondary-black;
  background-color: transparent;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  height: 35px;
  font-weight: 600;
  border-style: none;

  a {
    color: $secondary-black;
    text-decoration: none;
    :hover {
      color: $secondary-black;
    }
  }

  &:hover {
    color: $secondary-black;
    text-decoration: none;
    background-color: rgba(12, 43, 250, 0.08);
  }
}
