// Define variables for your color scheme

// Lendo Color Scheme
$primary-color: #0C2BFA;
$secondary-white: #FFFFFF;
$secondary-black: #010101;
$background-yellow: #FFDC9F;
$background-green: #D8E5CF;
$background-pink: #FFE4E0;
$success-green: #648E46;
$text-black: #333333;



body {
  background-color: #FFDC9F;
}
