// Define variables for your color scheme

// Lendo Color Scheme
$primary-color: #0C2BFA;
$secondary-white: #FFFFFF;
$secondary-black: #010101;
$background-yellow: #FFDC9F;
$background-green: #D8E5CF;
$background-pink: #FFE4E0;
$success-green: #648E46;
$text-black: #333333;



body {
  background-color: #FFDC9F;

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a:hover {
    color: $primary-color;
    opacity: .7;
  }
}

body#show-page {
  background-color: $background-pink;
}

body#index-page {
  background-color: $background-green;
}

body#chatroom {
  background-color: $background-pink;
}
