#messages {
  width: 100%;
  border: 1px solid #010101;
  border-radius: 6px;
  min-height: 500px;
  height: auto;
  justify-content: center;
}

.messages-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.chatlink {
  position: relative;
  color: #010101;
  display: flex;
  justify-content: space-around;
  width: auto;
  min-width: 80%;
  height: auto;
  min-height: 100px;
  border-radius: 6px;
  border: 1px solid #010101;
  padding-top: 24px;
  margin-bottom: 48px;
  h3 {
    font-size: 24px;
  }
  a:hover {
    text-decoration: none;
  }
}

.chat-partner-info {
  margin-top: 16px;
  img {
    margin-left: 28px;
  }
}

.chat-product-info {
  margin-top: 16px;
}

.chat-index:hover {
  text-decoration: none;
}

.chatrooms {
  padding-top: 48px
}
