.container-product {
  background-color: $background-pink;
}

.product-border {
  border: none;
}

.product-title {
  padding-top: 54px;
  padding-bottom: 4px;
}

.product-location {
  color: $primary-color;
  padding-bottom: 8px;
}

.content-info {
  padding-top: 48px;
  margin-bottom: 0;
}

.product-specs {
  padding-bottom: 8px;
}
