    <div class="container">
      <div class="booking-info">
        <h1>Confirm and Pay your Order </h1>
        <p> <%= @booking.check_in %> </p>
        <p> <%= @booking.product.title%> </p>
      </div>
    </div>

