
    <div class="container-footer">
      <div class="footer">
        <div class="footer-name">
          <img src="/assets/logo.png">
        </div>
        <div class="row">
          <div class="column">
            <div class="footer-copyright">
             <p> Make it lend. Join our <br> Community of lenders, we're cool! </p>
            </div>
          </div>
          <div class="column">
            <p> Home </p>
            <p> Search </p>
          </div>
          <div class="column">
            <p> Find products to lend </p>
            <p> Start lending your products </p>
          </div>
          <div class="column">
            <p> Data Privacy </p>
            <p> Terms & Conditions </p>
          </div>
        </div>
        <div class="row">
          <div class="column2">
            <div class="footer-follow">
              <p> Follow us and join our Community</p>
            </div>
          </div>
          <div class="column2">
            <div class="footer-links">
              <a href="https://www.facebook.com/lendosv/" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://twitter.com/lendoir?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/lendoir/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.youtube.com/user/lendo" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

