<div class="container">
  <h1>My Dashboard</h1>
  <p>Keep track of all your activity</p>
  <div class="container mb-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="true">Bookings</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="false">Requests</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="my_products-tab" data-toggle="tab" href="#my_products" role="tab" aria-controls="contact" aria-selected="false">My Products</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab" aria-controls="contact" aria-selected="false">Favourites</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab"><%= render 'shared/my_bookings' %></div>
      <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab"><%= render 'shared/my_requests' %></div>
      <div class="tab-pane fade" id="my_products" role="tabpanel" aria-labelledby="my_products-tab"><%= render 'shared/my_products' %></div>
      <div class="tab-pane fade" id="favourites" role="tabpanel" aria-labelledby="favourites-tab"><%= render 'shared/favourites' %></div>
    </div>
  </div>
</div>
