<div class="con-large">
  <h1>Messages</h1>
  <div class="container">
    <ul>
      <% @chatrooms.each do |chatroom| %>
        <li><%= link_to chatroom.booking.product.title, chatroom_path(chatroom) %></li>
      <% end %>
    </ul>
  </div>
</div>
