.receiver {
  background-color: $background-yellow;
  border: 1px solid black;
  border-radius: 6px;
  padding-left: 10px;
  margin-bottom: 48px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  min-height: 100px;
  height: auto;
  .message-text {
    margin-left: 20px;
  }
  .message-avatar {
    margin-left: 20px;
  }
}


.author {
  text-align: right;
  background-color: $background-green;
  border: 1px solid black;
  border-radius: 6px;
  padding-right: 10px;
  margin-bottom: 48px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  min-height: 100px;
  height: auto;
  .message-avatar {
    margin-right: 20px;
  }
  .message-text {
    margin-right: 20px;
  }
}

.container-messages {
  width: auto;
  padding-top: 48px;
  margin-right: 24px;
  margin-left: 24px;
}

.message-text {
  max-width: 800px;
  margin-top: 10px;
}

.message-avatar {
  margin-top: 10px;
  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid black;
  }
}
