.con-small {
  margin-top: 54px;
  margin-left: 156px;
  margin-right: 156px;
}

.con-large {
  margin-top: 54px;
  margin-left: 80px;
  margin-right: 80px;
}

.container-content {
  padding-right: 80px;
  padding-left: 0px;
  width: 100vw;
  display: flex;

}

.product-card-container {
  flex-grow: 1;
  margin-top: 32px;
  padding-right: 0px;
  margin-right: 0px;
}

.product-card-row {
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
}

a {
  color: #010101;
  font-family: $body-font;
  :hover{
    text-decoration: none !important;
    color: #010101;
  }
}
