.confirm {
  background-color: #D8E5CF;
}

.column1 {
  float:auto;
  width: 70%;
}
.column3 {
  width: auto;
}

.container2 {
  width: 300px;
}

.booking-header {
  margin-top: 20px;
}

.booking-title {
  margin-top: 30px;
  margin-bottom: 15px;
}

.booking-period {
  border-bottom: 2px solid;
  margin-bottom: 10px;
}

.booking-payment {
  border-bottom: 2px solid;
  margin-bottom: 10px;
}


.btn1 {
  background-color: transparent;
  border: 2px solid grey;
  color: black;
  padding: 14px 28px;
  font-size: 13px;
  margin-bottom: 30px;
}

.form-control {
  background-color: transparent;
  margin-bottom: 30px;
}

.booking-message {
  border-bottom: 2px solid;
}

.booking-info {
  margin-top: 10px;
}

.booking-final {
  margin-top: 10px;
}

.btn2 {
  background-color: blue;
  color: white;
  font-size: 15px;
  padding: 10px 60px;
}

.booking-save {
  font-size: 13px;
}
