.confirm {
  background-color: #D8E5CF;

}

.container-booking {
  background-color: #D8E5CF;
  padding-top: 54px;
  margin-top: 54px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 154px;
}

.container-booking-form {
  height: 384px;
  width: 400px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 24px;
  justify-content: center;
  margin-right: 80px;
  margin-left: auto;
}


.booking-title {
  margin-top: 30px;
  margin-bottom: 40px;
}

.booking-period {
  border-bottom: 2px solid;
  margin-bottom: 40px;
}

.booking-payment {
  border-bottom: 2px solid;
  margin-bottom: 40px;
}


.btn1 {
  background-color: transparent;
  border: 2px solid grey;
  color: black;
  padding: 14px 28px;
  font-size: 13px;
  border-radius: 6px;
  margin-bottom: 40px;
}

.booking-message {
  border-bottom: 2px solid;
  margin-bottom: 40px;
}

.form-control {
  background-color: transparent;
  margin-bottom: 40px;
}

.booking-info {
  margin-bottom: 40px;
}

.booking-save {
  font-size: 13px;
  margin-bottom: 40px;
}

.bottom-line {
  border-bottom: 2px solid;
  margin-bottom: 10px;
}
