.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.navbar-lendo {
  justify-content: space-between;
  background: $background-yellow;
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.navbar-lendo .navbar-collapse {
  flex-grow: 0;
}

.navbar-lendo .navbar-brand img {
  width: 89px;
}
