.product-card-row {
  display: flex;
  margin-left: 10px;
  // justify-content: space-between;
}

.product-card {
  height: 400px;
  width: 303px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 24px;
  justify-content: center;
  margin-bottom: 24px;
  :hover {
    color: #010101;
    text-decoration: none;
  }
}

.feature-card {
  height: 380px;
  width: 359px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 24px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}

.feature-padding {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;

  h2 {
    padding-top: 40px;
  }
}

.image-circle {
  width: 167px;
  height: 167px;
  border-radius: 50%;
  border: 1px solid black;
}

.image-small {
  position: relative;
  margin-bottom: 24px;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  padding-top: 2px;
  .fa-heart{
    font-size: 12px;
    line-height: 30px;
    z-index: -1;
  }
  .far {
    line-height: 25px;
  }
  .form {
    padding-top: 0px;
  }
}

.product-card-description {
  color: #010101;
  h3 {
    font-size: 20px
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .product-card-price{
    font-size: 20px
  }
  h4 {
    font-size: 14px
  }
  h2 {
    margin-top: 24px;
  }
}

button {
  .fa-heart{
    line-height: 25px;
  }
  .fa-heart:before {
    line-height: 25px;
  }
  .heart {
    padding-top: 0px;
  }
}

.card-link {
  :hover {
    color: #010101;
    text-decoration: none;
  }
}

.favourite {
  height: 100%;
}

.product-card-buttons {
  margin-top: 5px;
}


.product-card-bookings {
  height: 555px;
  width: 303px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 24px;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 54px;
}

.product-card-products {
  height: 515px;
  width: 303px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 24px;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 54px;
}

.booking-card-button-width {
  width: 252px;
  margin-top: 16px;
}


.lends-card-button-width {
  width: 252px;
}
