#address-input {
  display: none;
  visibility: hidden;
}

#submit-search {
  display: none;
}

.searchform {
  overflow: hidden;
  width: 237px;
  height: 41px;

    input:active {
    outline-style: none;
    border: 1px solid $primary-color;
    color: black;
  }
}

.searchform:hover {
  padding-top: 107px;
  width: 100%;
  height: 148px;
  margin-bottom: 16px;
  transition: height 0.5s;

    #address-input {
    display: inline;
    visibility: visible;
    flex-grow: 0;
  }

    #submit-search {
    display: inline;
  }
}

