#address-input {
  display: none;
  visibility: hidden;
}

#submit-search {
  display: none;
}

.searchform {
  overflow: hidden;
  width: 267px;
  height: 41px;
}

#query input:focus {
  outline: none !important;
  border: 1px solid $primary-color;
  color: $text-black;
  box-shadow: 0px 0px 0px 4px rgba(95, 108, 255, 0.24)
}

.searchform:hover {
  width: 100%;
  transition: width 0.8s;

    #address-input {
    display: inline;
    visibility: visible;
    flex-grow: 0;
  }

    #submit-search {
    display: inline;
  }
}

.search-count {
  padding-bottom: 32px;
}
