.sidebar-menu {
  padding-left: 80px;
  padding-top: 70px;
}

.price input {
  height: 41px;
  width: 100px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(51, 51, 51, 0.54);
  border-radius: 6px;
  color: $text-black;
}

.sidebar-select {
  select::-ms-expand {
       display: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 40px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    color: rgba(51, 51, 51, 0.54);
    outline-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(51, 51, 51, 0.54);
    border-radius: 6px;
  }
  option {
    padding: 10px;
    background-color: $background-green;
    color: $text-black;
  }
}

.sidebar-headers {
  margin-top: 24px;
  margin-bottom: 10px;
  p {
    padding-bottom: 10px;
  }
}

.down-icon {
  position: relative;
  color: $primary-color;
  right: -211px;
  top: -33px;
  font-size: 12px;
}
